extends layout

block content
	h1 #{title}

	

	script.
		var linkUpdate = function(a) {
			return ({
				url: a.attr("href"),
				label: a.text()
			});
		};
		var sendUpdates = function(indexList, updates, callback) {
			$.ajax({
				url: "/api/pages/#{name}/links/" + indexList,
				data: {updates: updates},
				method: "PUT",
				success: callback
			});
		};
		var swapLinks = function(firstIndex, secondIndex) {
			var aList = $(".left-list a.link");
			var first = $(aList[firstIndex]);
			var second = $(aList[secondIndex]);
			var updates = [linkUpdate(second), linkUpdate(first)];
			sendUpdates(firstIndex + "," + secondIndex, updates, function(data) {
				firstClone = first.clone();
				secondClone = second.clone();
				first.replaceWith(secondClone);
				second.replaceWith(firstClone);
			});
		};
		$(function() {
			var hidden = true;
			$(".left-list button.up").first().remove();
			$(".left-list button.down").last().remove();
			var hideable = "button.remove,button.up,button.down,form#links";
			$(hideable).hide();
			$("button#edit").click(function() {
				if (hidden) {
					$(hideable).show();
					hidden = false;
					$("button#edit").html("View");
				} else {
					$(hideable).hide();
					hidden = true;
					$("button#edit").html("Edit");				
				}
			});
			$("button.remove").click(function() {
				var parent = $(this).parent();
				$.ajax({
					url: "/api/pages/#{name}/links/" + parent.index('p'),
					method: "DELETE",
					success: function( data ) {
						parent.remove();
					}
				});
			});
			$("button.up").click(function() {
				var index = $(this).parent().index('p');
				swapLinks(index - 1, index);
			});
			$("button.down").click(function() {
				var index = $(this).parent().index('p');
				swapLinks(index, index + 1);
			});
		});

	.container
		.left-list
			button#edit() Edit

			h3 Links:

			each link in links
				p.link
					a.link(href='#{link.url}', target='_blank') #{link.label}
					button.remove() X
					button.down() &darr;
					button.up() &uarr;

			form#links(name="addLink", action="/pages/#{name}", method="post")
				input(type="text", name="label", placeholder="Label");
				input(type="text", name="url", placeholder="URL");
				input(type="submit", name="addLink", value="Add Link");

		.right-list
			h3 Pages:

			each page in pages
				p.link
					a.link(href='/pages/#{page.name}', target='_blank') #{page.title}

			form(name="addPage", action="/pages/#{name}", method="post")
				input(type="text", name="name", placeholder="Name");
				input(type="text", name="title", placeholder="Title");
				input(type="submit", name="addPage", value="Add Page");

