extends layout

block content
	h1 #{title}

	script(src='/scripts/EditableList.js')
	script(src='/scripts/LinkList.js')

	script.
		$(function() {
			new LinkList("#{name}", $(".left-list"));
		});

	.container
		.left-list
			button.add() +
			button.remove() X
			button.down() &darr;
			button.up() &uarr;

			h3 Links:

			each link in links
				p.link
					a.link(href='#{link.url}', target='_blank') #{link.label}

			form#links(name="addLink", title="Add link")
				input#linkLabel(type="text", name="label", placeholder="Label");
				input#linkUrl(type="text", name="url", placeholder="URL");

		.right-list
			button.add() +
			button.remove() X
			button.down() &darr;
			button.up() &uarr;

			h3 Pages:

			each page in pages
				p.link
					a.link(href='/pages/#{page.name}', target='_blank') #{page.title}

			form#pages(name="addPage", title="Add link")
				input(type="text", name="name", placeholder="Name");
				input(type="text", name="title", placeholder="Title");
				input(type="submit", name="addPage", value="Add Page");

