extends layout

block content
	h1 #{title}

	

	script.
		var linkUpdate = function(a) {
			return ({
				url: a.attr("href"),
				label: a.text()
			});
		}
		$(function() {
			var hidden = true;
			$("button#remove").hide();
			$("button#up").hide();
			$("form#links").hide();
			$("button#edit").click(function() {
				if (hidden) {
					$("button#remove").show();
					$("button#up").show();
					$("form#links").show();
					hidden = false;
					$("button#edit").html("View");
				} else {
					$("button#remove").hide();
					$("button#up").hide();
					$("form#links").hide();
					hidden = true;
					$("button#edit").html("Edit");				
				}
			});
			$("button#remove").click(function() {
				var parent = $(this).parent();
				$.ajax({
					url: "/api/pages/#{name}/links/" + parent.index('p'),
					method: "DELETE",
					success: function( data ) {
						parent.remove();
					}
				});
			});
			$("button#up").click(function() {
				var parent = $(this).parent();
				var index = parent.index('p');
				var indices = (index - 1) + "," + index;
				var aList = $(".left-list a.link");
				var prev = $(aList[index - 1]);
				var curr = $(aList[index]);
				var updates = [linkUpdate(curr), linkUpdate(prev)];
				$.ajax({
					url: "/api/pages/#{name}/links/" + indices,
					data: {updates: updates},
					method: "PUT",
					success: function( data ) {
						prevClone = prev.clone();
						currClone = curr.clone();
						prev.replaceWith(currClone);
						curr.replaceWith(prevClone);
					}
				});
			});
		});

	.container
		.left-list
			button#edit() Edit

			h3 Links:

			each link in links
				p.link
					a.link(href='#{link.url}', target='_blank') #{link.label}
					button#remove() X
					button#up() ^

			form#links(name="addLink", action="/pages/#{name}", method="post")
				input(type="text", name="label", placeholder="Label");
				input(type="text", name="url", placeholder="URL");
				input(type="submit", name="addLink", value="Add Link");

		.right-list
			h3 Pages:

			each page in pages
				p.link
					a.link(href='/pages/#{page.name}', target='_blank') #{page.title}

			form(name="addPage", action="/pages/#{name}", method="post")
				input(type="text", name="name", placeholder="Name");
				input(type="text", name="title", placeholder="Title");
				input(type="submit", name="addPage", value="Add Page");

