extends layout

block content
	h1 #{title}

	.container
		.left-list
			h3 Links:

			each link in links
				p
					a.link(href='#{link.url}', target='_blank') #{link.label}

			form(name="addLink", action="/pages/#{name}", method="post")
				input(type="text", name="label", placeholder="Label");
				input(type="text", name="url", placeholder="URL");
				input(type="submit", name="addLink", value="Add Link");

		.right-list
			h3 Pages:

			each page in pages
				p
					a.link(href='/pages/#{page.name}', target='_blank') #{page.title}

			form(name="addPage", action="/pages/#{name}", method="post")
				input(type="text", name="name", placeholder="Name");
				input(type="text", name="title", placeholder="Title");
				input(type="submit", name="addPage", value="Add Page");

