extends layout

block content
	h1 #{title}

	script.
		var selectedIndex = null;
		var linkUpdate = function(a) {
			return ({
				url: a.attr("href"),
				label: a.text()
			});
		};
		var sendUpdates = function(indexList, updates, callback) {
			$.ajax({
				url: "/api/pages/#{name}/links/" + indexList,
				data: {updates: updates},
				method: "PUT",
				success: callback
			});
		};
		var sendInsert = function(index, update, callback) {
			$.ajax({
				url: "/api/pages/#{name}/links/" + index,
				data: update,
				method: "POST",
				success: callback
			});
		};
		var moveSelected = function(step) {
			var aList = $(".left-list a.link");
			var otherIndex = selectedIndex + step;
			var selected = $(aList[selectedIndex]);
			var other = $(aList[otherIndex]);
			var updates = [linkUpdate(other), linkUpdate(selected)];
			sendUpdates(selectedIndex + "," + otherIndex, updates, function(data) {
				selectedClone = selected.clone();
				otherClone = other.clone();
				selected.replaceWith(otherClone);
				other.replaceWith(selectedClone);
				selectedIndex = otherIndex;
			});
		};
		$(function() {
			var hidden = true;
			//$(".left-list button.up").first().remove();
			//$(".left-list button.down").last().remove();
			var hideable = "button.add,button.remove,button.up,button.down,form#links";
			$(hideable).hide();
			var paragraphClickHandler = function() {
				var thisIndex = $(this).index('p');
				if (selectedIndex) {
					var selected = $(".left-list p")[selectedIndex];
					$(selected).find("a").css("color", "black");
				}
				if (thisIndex == selectedIndex) {
					$(hideable).hide();	
					selectedIndex = null;
				} 
				else {
					$(hideable).show();
					$(this).find("a").css("color", "red");
					selectedIndex = thisIndex;
				}
			};
			$("button#edit").click(function() {
				if (hidden) {
					$(hideable).show();
					hidden = false;
					$("button#edit").html("View");
				} else {
					$(hideable).hide();
					hidden = true;
					$("button#edit").html("Edit");				
				}
			});
			$("form#links").dialog({
				autoOpen: false,
				height: 150,
				width: 420,
				modal: true,
				buttons: {
					"Add link": function() {
						var self = this;
						var label = $("input#linkLabel").val();
						var url = $("input#linkUrl").val();
						sendInsert(selectedIndex, {label: label, url: url}, function(data) {
							$('<p class="link"><a class="link" href="' + url + '" target="_blank">' + label + '</a></p>').click(paragraphClickHandler).insertBefore($(".left-list p")[selectedIndex]);
							selectedIndex++;
							$( self ).dialog( "close" );
						});	
					},
					Cancel: function() {
						$( this ).dialog( "close" );
					}
				}
			});
			$("button.add").click(function() {
				$("form#links").dialog("open");
			});
			$("button.remove").click(function() {
				$.ajax({
					url: "/api/pages/#{name}/links/" + selectedIndex,
					method: "DELETE",
					success: function( data ) {
						var selected = $(".left-list p")[selectedIndex];
						selected.remove();
						selectedIndex = null;
						$(hideable).hide();	
					}
				});
			});
			$("button.up").click(function() {
				moveSelected(-1);
			});
			$("button.down").click(function() {
				moveSelected(1);
			});
			$(".left-list p").click(paragraphClickHandler);
		});

	.container
		.left-list
			button.add() +
			button.remove() X
			button.down() &darr;
			button.up() &uarr;

			h3 Links:

			each link in links
				p.link
					a.link(href='#{link.url}', target='_blank') #{link.label}
					

			form#links(name="addLink", title="Add link", action="/pages/#{name}", method="post")
				input#linkLabel(type="text", name="label", placeholder="Label");
				input#linkUrl(type="text", name="url", placeholder="URL");

		.right-list
			h3 Pages:

			each page in pages
				p.link
					a.link(href='/pages/#{page.name}', target='_blank') #{page.title}

			form(name="addPage", action="/pages/#{name}", method="post")
				input(type="text", name="name", placeholder="Name");
				input(type="text", name="title", placeholder="Title");
				input(type="submit", name="addPage", value="Add Page");

